.container{
    margin: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .prevB{
        display: none;
    }

    .prevN{
        display: none;
    }

    .next, .prev{
        display: none;
    }

}

@media screen and (max-width : 850px) {
    .container{
        button{
            width: 50%;
        }
    }
}